# Catherine Kim, Data Bootcamp Code Practice 1

**Question 1**

In [1]:
2+5
# + is just addition, so, like everywhere else, 2+5 will return 7

7

In [3]:
2 + 5
#same expression as above because spaces don't change the meaning, thus this will also return 7

7

In [4]:
2*5
#* is multiplication, thus this will return 10

10

In [6]:
2/5
#/ is used for division, and will return the answer with remainder

0.4

In [7]:
2**5
# ** is 'to the power of' so it will return 32

32

**Question 2**

In [ ]:
x=7
x=x+3
#the value of x after running this is 10, because it runs the statements in order, so by the second equation x=7, and 7+3 is 10, thus the new value of x is 10

**Question 3**

In [15]:
#The value of x is 10, and the value of y is 3
#Because of the sequential nature of Python, at the time y was assigned to the value of x, x held the value of 3, thus, as y was never reassigned to a new value, it continues to be 3

**Question 4**

In [18]:
x=3
x= x/2
y='abc'
z= y+y
print(x,z)
#This will produce '1.5 abcabc'

1.5 abcabc

**Question 5**

In [19]:
x=3
x=x/2
y= 'abc'
z= x+y
print(x,z)
#This will not run because y is a string but x is a number, and you can't add two different types of values

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**Question 6**

In [20]:
x=3
y=24
z=y/x
print(x,y,z,sep=' | ')
#This will return '3 | 24 | 8.0'

3 | 24 | 8.0

**Question 7**

In [21]:
x=3
y='24'
z=y/x
print(x,z)
#This will not run without error because y is a string and but x is an integer and you can't divide a string by an integer

TypeError: unsupported operand type(s) for /: 'str' and 'int'

**Question 8**

In [23]:
x= "I am a #string" #Whoa, a string!
#This will run without error but there is no output because all we did was assign a string to x and write a comment

**Question 9**

In [26]:
x=[1,2,3]
y=[42,43]
z=x+y
print(z)
#Yes this will run without error
#It returns a new list which is the combination of the 2 lists, thus it will return [1,2,3,42,43]

[1, 2, 3, 42, 43]

**Question 10**

In [27]:
x=[1,2,3]
y=42
z=x+y
#This will not run without error becase x is a list and y is an integer, thus you can't add values with two different types

TypeError: can only concatenate list (not "int") to list

**Question 11**

In [32]:
#x1, int
#x2, float
#x3, string
#x4, list
#x5, list

**Question 12**

In [38]:
#type(42) will return 'int' because it's just a regular, countable number
#type(42.0) will return 'float' because it has a decimal
#type('42.0') will return 'str' because it's in quotation marks so it's not read as a number
#type("42.0") will return 'str' because single vs double quotes doesn't matter
#type("""42.0""") will return 'str' because single vs double vs unnecessarily tripled quotes doesn't matter either
#type([1,2]) will return 'list' because they're items in brackets
#type([1]+[2]) will return 'list' because it's just two different lists
#type(1+2) will return 'int' because the addition of two integers is still an integer
#type(print) will return 'builtin_function_or_method' because it's a function that does something

**Question 13**

In [39]:
type(float(str(int('1234'))))
#this would return 'float' because '1234' is first made into an integer, then a string, then a float, and then we run the type

float

**Question 14**

In [43]:
type(int(float('12.34')))
#this would return 'int' because they first made the string 12.34 a float, then made it an integer

int

**Question 15**

In [49]:
#len([1234]) will return 1 because it is a list and there is only one value in it, the one number 1,234
#len("1234") will return 4 because it is a string with 4 digits in it
#len(1234) will return an error because integers don't have a length

**Question 16**

In [52]:
#The type of x=[] is a list, there are just 0 values in the list, thus the length would also be 0

**Question 17**

In [4]:
x="abcde"
list(x)
x
#Because x was defined as a string before it just makes a list with one value "abcde" and does not separate them

'abcde'

**Question 18**

In [57]:
x=1234
float(x)

1234.0

In [58]:
x=1234
str(x)

'1234'

In [7]:
x=1234
y=str(x)
z=[]
for i in y:
    z.append(i)
z
#This takes multiple steps because the items wouldn't normally be separated

['1', '2', '3', '4']

**Question 19**

In [9]:
x="luke, i am your father"
x.title()

'Luke, I Am Your Father'

**Question 20**

In [10]:
x = "How many characters and words are in this string?"

In [11]:
len(x)

49

In [12]:
x=list(x)
print(x)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [14]:
x = "How many characters and words are in this string?"
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [15]:
len(x.split())

9

**Question 21**

In [8]:
#About an hour and a half (also posted to Github)