## Catherine Kim, Code Practice 2

**Question 1**

In [1]:
x=[1,2,3]
y='bootcamp'
z=x+y

TypeError: can only concatenate list (not "str") to list

It does not run because x is a list and y is a string, thus they are different types and cannot be added together

**Question 2**

type(x) and type(y) will tell us what types they are. len(x) and len(y) will tell us the length.

**Question 3**

2 - integer, since it is a number without a decimal point

'2' - string, since it is in quotation marks

2.0 - float, because it has a decimal point

"2.0" - string, because of the quotes

2>1 - bool because it is a statement that is either true or false

'Itamar' > 'Chase' - bool, because it is also a true/false statement

[1,2] - list, because it is objects within brackets

(1,2) - tuple, because it is objects within parenthesis

{1:'one', 2:'two'} - dictionary, because it is pairs of items (keys and values) within curly brackets

**Question 4**

1 >= 0 - true

1 >= 1 - true

1 > 1 - false

1 == 1 - true

1 == 1.0 - true

'Spencer' == "Spencer" - true

2 ** 3 > 3 ** 2 - false

1 >= 0 or 1 <= 2 - true

1 >= 0 and 1 <= 2 - true

**Question 5**

This will not run without error because the syntax is incorect, to fix it you should add a colon at the end of the first line of code

In [13]:
if 2>1:
    print("Yes, 2 is still greater than 1")

Yes, 2 is still greater than 1

**Question 6**

In [18]:
if True:
    print("on the one hand")
else:
    print("but on the other hand")

on the one hand

The result is "on the one hand" is printed, if we replace True with False in the first line, "but on the other hand" will be printed, if we insert the word not in the original code, "but on the other hand" will print

In [19]:
if False:
    print("on the one hand")
else:
    print("but on the other hand")

but on the other hand

In [20]:
if not True:
    print("on the one hand")
else:
    print("but on the other hand")

but on the other hand

**Question 7**

In [4]:
cond=True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

The code prints "Chase" since the condition was established to be True earlier

If we replace True with False then "Dave" will print

If we add "not" in the first line "Dave" will print

**Question 8**

In [6]:
x=[1,2,3,4]
y=['x','y','z']

if len(x) > len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

**Question 9**

Slicing recalls the indexed characters of a given object

**Question 10**

To extract the first element - x[0]

To extract the last element - x[-1] or x[4]

To extract all but the last element - x[0:3]

**Question 11**

print(sentence[0:4])

print(sentence[5:7])

print(sentence[8])

print(sentence[10:18])

print(sentence[20:26])

print(sentence[27:32])

print(sentence[33:35])

In [43]:
sentence = "This is a sentence; please slice it."
print(sentence[0:4])
print(sentence[5:7])
print(sentence[8])
print(sentence[10:18])
print(sentence[20:26])
print(sentence[27:32])
print(sentence[33:35])

This
is
a
sentence
please
slice
it

**Question 12**

**a.** x[0], x[-1]

**b.** x[3:7]

In [8]:
x= [1,2,"a",'b',"fast",'slow',3,"Raghu",'Liuren',10]

print(x[0])
print(x[-1])
print(x[3:7])

1
10
['b', 'fast', 'slow', 3]

**Question 13**

In [9]:
for object in x:
    print(object)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

**Question 14**

In [11]:
for object in x:
    if (type(object) == str):
        print(object)

a
b
fast
slow
Raghu
Liuren

**Question 15**

In [61]:
range?

range(3,12,2) will return numbers counting by 2 from 3 to 12 (not including 12) - ie 3, 5, 7, 9, 11

In [63]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

**Question 16**

In [13]:
sum = 0
for object in range(0,31,3):
    sum = sum + object
print(sum)

165

**Question 17**

In [17]:
def pocket_change(p,n,d,q):
    total = (p*.01)+(n*.05)+(d*.1)+(q*.25)
    return '${:,.2f}'.format(total)

**Question 18**

In [22]:
def not_six(c):
    d = []
    for number in c:
        if (str(number)[0] != "6"):
            d.append(number)
    return d

**Question 19**

The new_list code will be a list of numbers in the old_list that do not start with 6 (so basically an easier way of doing question 18)

In [27]:
old_list=[1234,6783,6,4321,9876]
new_list=[x for x in old_list if str(x)[0] != "6"]
print(new_list)

[1234, 4321, 9876]

**Question 20**

In [28]:
z={1:"one",2:"two",3:"three"}

**a.** z is a dictionary, its length is 3

**b.** 1, 2, and 3 are keys while "one", "two", and "three" are values

**c.** z[2]

**d.** z.keys displays the keys and z.values() lists the values

**e.** list(z.keys()) creates a list with only the keys from the dictionary z

**f.** list(z.values()) creates a list with only the values from dictionary z

In [30]:
z.keys()

dict_keys([1, 2, 3])

In [31]:
z.values()

dict_values(['one', 'two', 'three'])

In [32]:
list(z.keys())

[1, 2, 3]

In [33]:
list(z.values())

['one', 'two', 'three']

**Question 21**

This assignment took me about 75 minutes (csv in GitHub)